/.vs
/bottomtabbedpage/bottomtabbedpage/bin
/bottomtabbedpage/bottomtabbedpage/obj
/bottomtabbedpage/bottomtabbedpage.Droid/*
/bottomtabbedpage/bottomtabbedpage.iOS/obj
/bottomtabbedpage/bottomtabbedpage.iOS/bin
